@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    
}
ul, ol{
    list-style: none;
}
a, a:link{
    text-decoration: none;
    color:inherit
}

body{
        font: 16px/1.5 dotum,gulim,"돋움","굴림",sans-serif;
    color: #333333;
    background-color: #ffffff;
}
.change{
    right:  0 !important;
}
.rotate{
    transform: rotate(180deg)
}
#sidebar{
    transition: right 0.3s;
    width: 400px;
    position: fixed;
    height: 100%;
    right: -350px;
    top: 0;
    background: white;
    border-left: 1px solid black;
    box-sizing: border-box;
    z-index: 5000;
}
.onoff{
    background: rgba(0,0,0,.7);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 4999;
}
#sidebar button{
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 380px;
    width: 50px;
    height: 50px;
    background: white;
    border: 1px solid black;
}
#sidebar button span{
    transition: all 0.3s;
}
#sidebar.change button span{
    transition: all 0.5s;    
    transform: rotate(180deg);
}

#modal{
    display: none;
    background: #333333;
    width: 500px;
    height: 400px;
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 30px;
    box-shadow: 0 0 10px 3px #333;
}
#modal button{
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.wrap{
    width:  1200px;
    height: 700px;
    margin: 0 auto;
    overflow: hidden;

}
.header{
    height: 100px;
    display: flex;
    align-items: center;
}


.logo_main{
    width: 200px;
    height: 40px;
}
.menu{
    width: 680px;
    height: 40px;
    margin: 0 20px 0 auto;
}


#gnb{
    display: flex;
    justify-content: space-around;
    background: white;
    font-size: 1.125rem;
}
#gnb > li{
    flex: 1 1 25%;
    /* text-align: center; */
    position: relative;
    border: 1px solid black;
    border-collapse: collapse;
    
}
#gnb > li >a{
    text-align: center;
    display: block;
    height: 40px;
    line-height: 40px;
}

.highlight{
    color: white ;
    background: #333;
    font-size: 1.125rem;
}


.lnb{
    border: 1px solid black;
    display: none;
    position: absolute;
    z-index: 1000;
    width: 100%;
    background: white;
    text-align: center;
    color: #333;
    font-size: 1rem;
}


.slide{
    height: 300px;
    overflow: hidden;
    position: relative;
}
#imgs{
    height: 900px;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.3s;
}



#imgs > div{
    position: relative;
    height: 300px;
}
#imgs h2, #imgs p{
    position: absolute;
}
#imgs h2{
    left: 50%;
    top: 45%;
    font-size: larger;
    color: white;
    text-shadow: 2px 2px 5px #000;
    transform: translate(-50%);
}
#imgs p{
    left: 50%;
    top: 55%;
    color: white;
    text-shadow: 1px 1px 3px #333;
    transform: translate(-50%);
}



.contents{
    height: 200px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}



/*tab*/
.tab{
    width: 400px;
}
.tabMenu li{
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    

}
.tabMenu>li>a{
    display: block;
    background: #ddd ;
    border: #000 solid 1px;
    box-sizing: border-box;
    margin: 5px 0 0 5px;
    height: 35px;
    padding: 0 10px;
}


.active{
    border-bottom-color: #fff !important;
    background: white !important;
    font-weight: bolder !important;
}

.tabMenu>li:nth-child(1) a{
    display: block;
    background: #ffffff
}

.notice li{
    display: flex;
    border-bottom: #000 1px solid;
    line-height: 2;
    margin-left: 10px;
}

.notice li a{
    display: inline-block;
    width: 260px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.notice li span{
    text-align: right;
    margin-right: 10px;
}
.notice li:hover{
    text-decoration: underline;
}
.gallery{
    display: none;
    background: rgb(224, 224, 224);
}
.gallery li{
    display: inline-block;
    margin-top: 8px;
    margin: 10px auto;
}


.gallery a img{
    width:110px;
}

.banner{
    display: flex;
    align-items: center;
}
.banner img{
    box-sizing: border-box;
}
.shortcut{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
}
.shortcut img{
    width: 70px;
    height: 70px;
}


.shortcut p{
    text-align: center;
}

/**************여기까지 콘텐츠***********/



.footer{
    height: 100px;
    display: flex;
    justify-content: space-between;
    background: rgb(209, 209, 209);
    align-items: center;
}
.footer div{
    display: flex;
    text-align: center;
    align-items: center;
}
.footer div a{
    display: flex;
    text-align: center;
    align-items: center;
}
.logo{
    width: 200px;
    height: 40px;
}
.copyright{
    width: 800px;
    margin: 0 25px;
}
.sns{
    width:200px;
}